<%# if a user doesnt exsist %>
<% if !current_user %>
<%# this template will contain the welcome page for non-current users %>
  <%= render 'not_current_user' %>
<%# if user exists %>
<% else %>
  <%#also check it for the amdin%>
  <% if current_user.role != "author" %>
    <%#this link will be in the navbar%>
    <!--
    <button type="button" class="btn btn-primary">
      <%#= link_to 'Timeline' , posts_path %>
    </button>
    -->
    <h3> This is the list of all Authors </h3>
    <h4> Total Authors: <%= @authors.count %> </h4>
    <%#we will need to have cards here woth subscribe button%>
    <% @authors.each do |author| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <% is_subscribed = false %>
          <h5 class="card-title"><%= author.first_name %>  </h5>
          <% @subscribed_authors.each do |sub_author|%>
            <%#all those who have already been subscribed by this reader%>
            <% if author == sub_author %>
              <%#this variable will see if this author is subscribed or not%>
              <% is_subscribed = true %>
            <% end %>
          <% end %>
          <% if is_subscribed == true %>
            <button type="button" class="btn btn-warning">
              <%= link_to 'Unfollow Author:' , welcome_change_subscribe_status_path(:author_id => author.id , :choice_type => "unfollow") %>
            </button>
          <% else %>
            <button type="button" class="btn btn-success">
              <%= link_to 'follow Author:' , welcome_change_subscribe_status_path(:author_id => author.id , :choice_type => "follow") %>
            </button>
          <% end%>
        </div>
      </div>  
      </br>
    <% end %>
  <% end %>
  <!--
  <%# if current_user.role != "reader" %>
    <button type="button" class="btn btn-primary"">
      <%#= link_to 'All my posts' , posts_path%>
    </button>
  <%# end %>
  -->
<% end %>
