<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% if @posts.count != 0 %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td>
            <button type="button" class="btn btn-outline-info">
              <%= link_to 'Show', post %>
            </button>  
          </td>
          <% if current_user.role != "reader"%>
            <td>
              <button type="button" class="btn btn-outline-info">
                <%= link_to 'Edit', edit_post_path(post) %>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-info">
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </button>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<h4>Sorry , You dont have any Posts yet</h4>
<% end %>

<br>

<% if current_user.role != "reader" %>
  <button type="button" class="btn btn-success">
    <%= link_to 'New Post', new_post_path %>
  </button>
<% end %>
<button type="button" class="btn btn-primary">
  <%= link_to 'Back', root_path %>
</button>
