<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% if @posts.count != 0 %>
  <% @posts.each do |post| %>
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text"><%= post.body %></p>
        <a class="card-link">
          <button type="button" class="btn btn-outline-info">
            <%= link_to 'Show', post %>
          </button>
        </a>
        <a class="card-link">
          <button type="button" class="btn btn-outline-info">
            <%= link_to 'Edit', edit_post_path(post) %>
          </button>
        </a>
        <a class="card-link">
          <button type="button" class="btn btn-outline-info">
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </button>
        </a>
      </div>
    </div>
  <% end %>
<% else %>
  <h4>Sorry , You dont have any Posts yet</h4>
<% end %>

<br>

<% if current_user.role == "author" %>
  <button type="button" class="btn btn-success">
    <%= link_to 'New Post', new_post_path %>
  </button>
<% end %>
<button type="button" class="btn btn-primary">
  <%= link_to 'Back', root_path %>
</button>
