<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
  </br>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Back', posts_path %> |
<% if current_user.role != "reader"%>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <% if @comments != 'nil' %>
    <%= link_to 'Comments', comments_path(:pid => @post.id) %>
  <% else %>
    <p>No comments are available</p>
  <% end %>
<% else %>
  <%= link_to 'New Comment', new_comment_path(:pid => @post.id) %>
<% end %>
